# vaultwarden.container
[Container]
ContainerName=vaultwarden
Environment=DOMAIN={{ vaultwarden_domain }}
Environment=SIGNUPS_ALLOWED={{ vaultwarden_signups_allowed | lower }}
Environment=ADMIN_TOKEN={{ vaultwarden_admin_token_hash }}
Image=docker.io/vaultwarden/server:latest

{% if vaultwarden_bind_ip | default(false) %}
PublishPort={{ vaultwarden_bind_ip }}:{{ vaultwarden_bind_port }}:80
{% endif %}

{% if vaultwarden_network | default(false) %}
Network={{ vaultwarden_network }}
{% endif %}

Volume={{ vaultwarden_data_dir }}:/data:Z,U

[Service]
# Ensures the service restarts if the container process crashes
Restart=always
# Optional: waits 5 seconds before restarting to prevent boot loops
RestartSec=5 

[Install]
# Ensures it starts on boot
WantedBy=default.target